<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/HouseOfThunderStyle.css">
</head>

<style>
  body {
      background-image: url('<%= asset_path 'HomePage.jpg' %>');
      background-color: black;
      background-repeat: no-repeat;
      background-attachment: fixed;
  }
</style>

<body>
    
<ul>
    <li><a href="homepage.html">Home</a> color: blue</li>
    
    <li class="dropdown">
    <a href="street.html" class="dropbtn">Street</a>
    <div class="dropdown-content">
      <a href="#">Sport</a>
      <a href="#">Sport touring</a>
      <a href="#">Supersport</a>
      <a href="#">Cruiser</a>
    </div>
    </li>
    
    <li class="dropdown">
    <a href="#" class="dropbtn">Off-road</a>
    <div class="dropdown-content">
      <a href="#">Motocross</a>
      <a href="#">Trail bike</a>
      <a href="#">Dual-sport</a>
    </div>
    </li>
    
    <li class="dropdown">
    <a href="#" class="dropbtn">Riding Gear</a>
    <div class="dropdown-content">
      <a href="#">Helmets</a>
      <a href="#">Jackets</a>
      <a href="#">Jersey sets</a>
      <a href="#">Goggles</a>
      <a href="#">Gloves</a>
      <a href="#">Boots</a>
    </div>
    </li>
    
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">About</a></li>
    
</ul>

<h1>
    <i>HOUSE OF THUNDER</i>
</h1>

<h4>
    <i>(A Motorcycle Shop)</i>
</h4>

<h3>
    Welcome, riders!
</h3>

<p>
  Whether you've been riding for decades or you're just starting out, 
our goal is to provide you with the perfect bike and riding gear. We have a variety of selections available every day.
</p>

<p>
  Find the right bike and request a test ride or place an order today!
</p>

</body>
</html>