<% provide(:title, "Home") %>

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/HouseOfThunderStyle.css">
  </head>

  <style>
    body {
        background-image: url('<%= asset_path 'HomePage.jpg' %>');
        background-size: 1350px 844px;
        background-color: black;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
  </style>

  <body>
    <div class="home information">
      <h1>
        <i>HOUSE OF THUNDER</i>
      </h1>
      <h4>
          <i>(A Motorcycle Shop)</i>
      </h4>
      <h3>
          Welcome, riders!
      </h3>
      <p>
        Whether you've been riding for decades or you're just starting out, 
      our goal is to provide you with the perfect bike and riding gear. We have a variety of selections available every day.
      </p>
      <p>
        Find the right bike, <i><b>sign up</b></i>, and request a test ride or place an order today!
      </p>
      <i><%= link_to "Sign up to ride now!", signup_path, class: "btn btn-lg btn-primary" %></i>
    </div>
    
    <title><%= yield(:title) %> | HOUSE OF THUNDER/title>
    
  </body>
</html>
