<% provide(:title, "Off-road") %>

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/HouseOfThunderStyle.css">
  </head>
    
  <style>
    h1 {
      text-align: center;
    }
  </style>
    
  <body>
  
  <div style="background-color:black;color:black;padding-left:300px;padding-right:236.5px; margin: -8px; margin-top: -22px;">
     <h1 style= "text-shadow: none; padding-right: 180px; padding-top: 15px">
      <i>Off-road Motorcycles</i>
    </h1>
   
      <div class="vividworknav">
          <%=link_to image_tag("Off-road/Motocross/Yamaha_YZ450f.jpg", :size => "600x388", :class => "image_tag"), motocross_path %>   
          
        <div class="work-text-content">
          <h3>MO T O C R O S S</h3>
        </div>
      </div>
      
      <div class="vividworknav">
          <%=link_to image_tag("Off-road/Trail bikes/Kawasaki_KLX250.jpg", :size => "600x434", :class => "image_tag"), trailbike_path %>   
        <div class="work-text-content">
          <h3>T R A I L - B I K E</h3>
        </div>
      </div>
      
      <div class="vividworknav">
          <%=link_to image_tag("Off-road/Dual-sport/Kawasaki_KLR650.jpg", :size => "600x450", :class => "image_tag"), dualsport_path %>   
        <div class="work-text-content">
          <h3>D U A L - S P O R T</h3>
        </div>
      </div>
  </div>
    
  <title><%= yield(:title) %> | HOUSE OF THUNDER/title>
    
  </body>
</html>
