<% provide(:title, "Sport") %>

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/HouseOfThunderStyle.css">
  </head>
    
  <body>
  
  <div style="background-color:black;color:black;padding-top:0px;padding-right:236.5px; margin: -8px; margin-top: -22px;">
     <h1 style= "text-shadow: none; padding: 15px;">
      <i>Sport</i>
    </h1>
   
    <div id="content">
      <div class="bikes">
        <%=image_tag("Street/Sport/Kawasaki_Ninja300_Green.jpg", :size => "600x450")%>          
        <h4>Model: Kawasaki Ninja 300 | Year: 2016</h4>
        
        <a href="mailto:banjomanmichael@gmail.com">
          <button type="button" onclick="alert('Send a request email now!')">Request a test ride</button>
        </a>
        
        <%=image_tag("Street/Sport/Kawasaki_Ninja_650_Green.png", :size => "600x339")%>
        <h4>Model: Kawasaski Ninja 650 | Year: 2016</h4>

        <%=image_tag("Street/Sport/Honda_CBR300.png", :size => "600x375")%>          
        <h4>Model: Honda CBR 300 | Year: 2016</h4>
        
      </div>
    </div>
    
    <br style="clear:both;"/>
    
  </div>
    
  <title><%= yield(:title) %> | HOUSE OF THUNDER/title>
    
  </body>
</html>
