<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/HouseOfThunderStyle.css">
</head>
    
<style>
  body {
      background-color: #0063b3;
      background-attachment: fixed;
  }
</style>
    
<body>
    
<ul>
    <li><a href="homepage.html">Home</a></li>
    
    <li class="dropdown">
    <a href="street.html" class="dropbtn">Street</a>
    <div class="dropdown-content">
      <a href="#">Sport</a>
      <a href="#">Sport touring</a>
      <a href="#">Supersport</a>
      <a href="#">Cruiser</a>
    </div>
    </li>
    
    <li class="dropdown">
    <a href="#" class="dropbtn">Off-road</a>
    <div class="dropdown-content">
      <a href="#">Motocross</a>
      <a href="#">Trail bike</a>
      <a href="#">Dual-Sport</a>
    </div>
    </li>
    
    <li class="dropdown">
    <a href="#" class="dropbtn">Riding Gear</a>
    <div class="dropdown-content">
      <a href="#">Helmets</a>
      <a href="#">Jackets</a>
      <a href="#">Jersey sets</a>
      <a href="#">Goggles</a>
      <a href="#">Gloves</a>
      <a href="#">Boots</a>
    </div>
    </li>
    
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">About</a></li>
    
</ul>

<h1>
    <i>HOUSE OF THUNDER</i>
</h1>

<div style="background-color:white;color:black;padding-right:290px;">
   <img src="app/assets/images/ninja1000blue.jpg" alt: Ninja 1000>
   <img src="app/assets/images/ninja1000green.jpg">

</div> 

</body>
</html>
