
body {
    background-image: url("app/assets/images/HomePage.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-family: Verdana, Sans-serif;
    color: white;
    text-align: left;
    margin-left: 50px;
    text-shadow: 7px 7px 10px navy;
}

h3 {
    font-family: Verdana, Sans-serif;
    color: white;
    margin-left: 50px;
    text-shadow: 7px 7px 10px navy;
}

h4 {
    font-family: Verdana, Sans-serif;
    color: #222;
    margin-left: 50px;
    text-shadow: 7px 7px 10px navy;
}

p {
    font-family: Verdana, Sans-serif;
    font-size: 15px;
    color: white;
    
    width: 30em; 
    word-wrap: break-word;
    line-height: 150%;
    
    margin-left: 50px;
    text-shadow: 7px 7px 10px navy;
}

.bikes {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 300px; /* Chrome, Safari, Opera */
    -moz-column-gap: 300px; /* Firefox */
    column-gap: 300px;
    h4 {
        font-family: Verdana, Sans-serif;
        font-size: 20px;
        color: white;
        margin-right: -200px;
        margin-bottom: 20px;
        margin-top: 50px;
        text-shadow: 7px 7px 10px black;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
    text-align: center; 
    margin-top: -10px;
    margin-left: -8px;
    margin-right: -8px;
}

#nav {
    text-align: center; 
}

li {
    font-family: "Verdana", Times, serif;
    display: inline-block;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 12px 30px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: black;
}

li.dropdown {
    display: inline-block;
}

div a {
   border-top: 2px solid #222;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: lightgrey
}

.dropdown:hover .dropdown-content {
    display: block;
}

button {
    background-color: #008dfa; 
    border: 2px solid #007acc;
    border-radius: 10px;
    color: white;
    padding: 12px 29px;
    margin-top: 100px;
    margin-left: 130px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Verdana, Sans-serif;
    font-weight: bold;
    box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2), 0 12px 20px 0 rgba(0,0,0,0.19);
}

button:hover {
    background-color: #2eb82e; 
    border: 2px solid #2eb82e;
    color: white;
}

.btn {
    background-color: #008dfa; 
    border: 2px solid #007acc;
    border-radius: 10px;
    color: white;
    padding: 12px 29px;
    margin-top: 10px;
    margin-left: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Verdana, Sans-serif;
    font-weight: bold;
    box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2), 0 12px 20px 0 rgba(0,0,0,0.19);
}

.btn:hover {
    background-color: #2eb82e; 
    border: 2px solid #2eb82e;
    color: white;
}

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

label {
    font-family: Verdana, Sans-serif;
    color: white;
    margin-left: 60px;
    text-shadow: 7px 7px 10px navy;
}

input, textarea, select, .uneditable-input {
    border: 1px solid white;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
    margin-left: 50px;
}

input {
  height: auto !important;
}

.center {
  text-align: center;
}

.alert-success {
    font-family: Verdana, Sans-serif;
    color: white;
    margin-left: 50px;
    text-shadow: 7px 7px 10px navy;
}

// Image darkening properties:

.vividworknav {

    height: auto;
    float: left;
    padding: 0;
    position: relative;
    background-color: black;
}

.vividworknav:hover img {
    opacity: 0.3;
}

.vividworknav:hover .work-text-content {
    opacity: 1; 
}

.vividworknav img {
    padding: 0;
    width: 100%;
    display: block;
    opacity: 1;
}

.vividworknav img,
.work-text-content {
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
}

.work-text-content {
    h3 {
        font-family: Verdana, Sans-serif;
        color: white;
        text-shadow: none;
    }
    position: absolute;
    left: -9%;
    top: 36%;
    right: 0;
    bottom: 0;
    font-size: 24px;
    text-align: center;
    opacity: 0;
}

.image_tag {
    float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;
}

#error_explanation {
    
    
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  
  .form-control {
      color: red;
  }
}