
body {
    background-image: url("app/assets/images/HomePage.jpg");
    background-color: grey;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



h1 {
    font-family: Verdana, Sans-serif;
    color: white;
    text-align: left;
    margin-left: 50px;
    text-shadow: 7px 7px 10px navy;
}

h3 {
    font-family: Verdana, Sans-serif;
    color: white;
    margin-left: 50px;
    text-shadow: 7px 7px 10px navy;
}

h4 {
    font-family: Verdana, Sans-serif;
    color: #222;
    margin-left: 50px;
    text-shadow: 7px 7px 10px navy;
}

p {
    font-family: Verdana, Sans-serif;
    font-size: 15px;
    color: white;
    
    width: 30em; 
    word-wrap: break-word;
    line-height: 150%;
    
    margin-left: 50px;
    text-shadow: 7px 7px 10px navy;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
    text-align: center; 
    margin-top: -10px;
    margin-left: -8px;
    margin-right: -8px;
}

#nav {
    text-align: center; 
}

li {
    font-family: "Verdana", Times, serif;
    display: inline-block;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 12px 30px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: black;
}

li.dropdown {
    display: inline-block;
}

div a {
   border-top: 2px solid #222;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: lightgrey
}

.dropdown:hover .dropdown-content {
    display: block;
}

.btn {
    background-color: #008dfa; 
    border: 2px solid #007acc;
    border-radius: 10px;
    color: white;
    padding: 12px 29px;
    margin-top: 10px;
    margin-left: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Verdana, Sans-serif;
    font-weight: bold;
    box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2), 0 12px 20px 0 rgba(0,0,0,0.19);
}

.btn:hover {
    background-color: #2eb82e; 
    border: 2px solid #2eb82e;
    color: white;
}

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

label {
    font-family: Verdana, Sans-serif;
    color: white;
    margin-left: 60px;
    text-shadow: 7px 7px 10px navy;
}

input, textarea, select, .uneditable-input {
    border: 1px solid white;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
    margin-left: 50px;
}

input {
  height: auto !important;
}

.center {
  text-align: center;
}
